[Desktop Entry]
Type=Application
Name=AnyLink Secure Client
Name[zh_CN]=AnyLink Secure Client
Comment=A VPN client that utilizes TLS and DTLS for secure session establishment
Terminal=false
Icon=/opt/AnyLink/logo.png
Exec=/opt/AnyLink/bin/anylink
StartupNotify=false
