[Unit] 
Description=AnyLink Secure Client Agent 

[Service] 
Type=simple
Restart=on-failure
ExecStart=/opt/anylink/bin/vpnagent
ExecReload=/bin/kill -HUP $MAINPID 
PIDFile=/var/run/vpnagent.pid
KillMode=process

[Install] 
WantedBy=multi-user.target
