<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>AnyLink</Name>
    <Version>0.2</Version>
    <Title>AnyLink Secure Client</Title>
    <Publisher>https://tlslink.com</Publisher>
    <StartMenuDir>AnyLink Secure Client</StartMenuDir>
    <TargetDir>@ApplicationsDir@/anylink</TargetDir>
    <RemoveTargetDir>true</RemoveTargetDir>
    <WizardShowPageList>false</WizardShowPageList>
    <SupportsModify>false</SupportsModify>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <ControlScript>controller.js</ControlScript>
</Installer>
