<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>AnyLink Secure Client</Name>
    <Version>0.9.3</Version>
    <Title>AnyLink Secure Client</Title>
    <Publisher>https://anylink.pro</Publisher>
    <ProductUrl>https://anylink.pro</ProductUrl>
    <InstallerWindowIcon>anylink64.png</InstallerWindowIcon>
    <InstallerApplicationIcon>anylink</InstallerApplicationIcon>
    <StartMenuDir>AnyLink Secure Client</StartMenuDir>
    <TargetDir>@ApplicationsDir@/</TargetDir>
    <RemoveTargetDir>true</RemoveTargetDir>
    <WizardShowPageList>false</WizardShowPageList>
    <SupportsModify>false</SupportsModify>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <PersistentLocalCache>false</PersistentLocalCache>
    <ControlScript>controller.js</ControlScript>
    <DisableCommandLineInterface>true</DisableCommandLineInterface>
    <DisableAuthorizationFallback>true</DisableAuthorizationFallback>
    <SaveDefaultRepositories>false</SaveDefaultRepositories>
</Installer>
